html,
body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(rgb(5, 25, 104), rgb(58, 7, 77));
}
header {
  border-bottom: solid rgb(209, 205, 205);
  background: linear-gradient(
    to bottom,
    rgb(102, 102, 102) 50%,
    rgb(20, 20, 20) 50%
  );
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header img {
  width: 150px;
}
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
main p {
  font-family: "Press Start 2P", cursive;
  font-size: xx-large;
}
.box {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.player,
.AI {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40vh;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 10px;
  border: solid gray 9px;
  color: white;
}
.player {
  background-color: rgba(255, 255, 255, 0.247);
}
.AI {
  background-color: rgba(255, 255, 255, 0.247);
}
.player img,
.AI img {
  width: 200px;
}
.animate img {
  animation: shake 0.5s infinite;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.option {
  width: 80%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
}
.option img {
  width: 150px;
  cursor: pointer;
  transition: 0.2s ease;
}
.option img:focus {
  width: 160px;
  box-shadow: 0 0 10px green;
  border-radius: 15px;
}
button {
  font-family: monospace;
  font-weight: bold;
  background-color: rgb(24, 255, 24);
  padding: 15px 70px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.points {
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: row;
  gap: 30px;
}
.points p {
  font-weight: bold;
  font-size: x-large;
  color: rgb(4, 0, 255);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#loss {
  color: red;
  font-family: "Press Start 2P", cursive;
}
#draw {
  color: rgb(13, 214, 254);
  font-family: "Press Start 2P", cursive;
}
#win {
  font-family: "Press Start 2P", cursive;
}
@media (max-width: 576px) {
  header img {
    width: 100px;
  }
  .points p {
    font-size: medium;
  }
  .option img {
    width: 90px;
    gap: 10px;
  }
  .player img {
    width: 100px;
  }
  .AI img {
    width: 100px;
  }
  .option img:focus {
    width: 95px;
    box-shadow: 0 0 10px;
    border-radius: 15px;
  }
  .player {
    height: 30vh;
  }
  .AI {
    height: 30vh;
  }
  .box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.you {
  animation: 0.5s intro ease-in;
}
.OP {
  animation: 0.5s intro ease-in;
}
@keyframes intro {
  0% {
    transform: scale(2);
  }
}
.boards {
  width: 20%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: xx-large;
  color: white;
  height: 15vh;
}

.leftboard {
  width: 50%;
  height: 13vh;
  border-right: solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightboard {
  width: 50%;
  height: 13vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.what {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;

  justify-content: space-between;
}
.stats {
  width: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.stats button {
  font-family: "Press Start 2P", cursive;
  color: white;
  padding: 5px 20px;
  background-color: transparent;
  border-radius: 0;
}
.stats button:focus {
  border-bottom: solid rgb(0, 255, 68) 1.9px;
}
.stats button:hover {
  border-bottom: solid rgb(0, 255, 68);
}
#winboard {
  color: rgb(25, 239, 25);
  font-family: "Press Start 2P", cursive;
}
#lossboard {
  color: red;
  font-family: "Press Start 2P", cursive;
}

.stick {
  width: 2%;
  height: 29vh;
  background-color: black;
}
.player1 {
  background-color: rgb(0, 0, 0);
}
.player2 {
  height: 70vh;
}
.points-star-streak {
  margin-left: 50px;
  margin-top: 30px;
  width: 20%;
  height: 10vh;
  display: flex;
  justify-content: start;
  align-items: end;
  color: white;
  font-family: "Press Start 2P", cursive;
  gap: 40px;
}
.points-star-streak img {
  width: 50px;
}
#streak {
  width: 40px;
}
.star {
  display: flex;
  justify-content: center;
  align-items: center;
}
.streak {
  display: flex;
  justify-content: center;
  align-items: center;
}
.place {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  height: 10vh;
  border-radius: 15px;
  background-color: rgba(35, 35, 33, 0.658);
}
.place1 {
  background-color: rgba(255, 255, 0, 0.796);
}
.place2 {
  background-color: rgba(0, 128, 0, 0.699);
}

.boardUi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40vh;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 10px;
  border: solid gray 9px;
  color: white;
  flex-direction: column;
  gap: 20px;
}
.boardUi img {
  width: 70px;
}
.lbright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.statsbox {
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  background-color: black;
}
#back {
  cursor: pointer;
  width: 90px;
}
#back:hover {
  width: 95px;
}
@media (max-width: 576px) {
  header {
    height: 20vh;
  }
  #loss {
    margin-left: 20px;
  }
  #win {
    margin-right: 20px;
  }
  .what {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .what button {
    width: 50px;
  }
}
