html,
body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(rgb(5, 24, 104), rgb(58, 7, 77));
}
header {
  border-bottom: solid rgb(174, 163, 163);
  background: linear-gradient(
    to bottom,
    rgb(102, 102, 102) 50%,
    rgb(20, 20, 20) 50%
  );
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: start;
}
header img {
  width: 150px;
}
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
main p {
  font-family: "Press Start 2P", cursive;
  font-size: xx-large;
}
.box {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.player,
.AI {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40vh;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 10px;
  border: solid gray 10px;
  color: white;
}
.player {
  background-color: rgba(255, 255, 255, 0.247);
}
.AI {
  background-color: rgba(255, 255, 255, 0.247);
}
.player img,
.AI img {
  width: 200px;
}
.animate img {
  animation: shake 0.5s infinite;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.option {
  width: 80%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
}
.option img {
  width: 150px;
  cursor: pointer;
  transition: 0.2s ease;
}
.option img:focus {
  width: 160px;
  box-shadow: 0 0 10px green;
  border-radius: 15px;
}
button {
  font-family: monospace;
  font-weight: bold;
  background-color: rgb(24, 255, 24);
  padding: 15px 70px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.points {
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: row;
  gap: 30px;
}
.points p {
  font-weight: bold;
  font-size: x-large;
  color: rgb(4, 0, 255);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#loss {
  color: red;
}
#draw {
  color: rgb(13, 214, 254);
}
@media (max-width: 576px) {
  header img {
    width: 100px;
  }
  .points p {
    font-size: medium;
  }
  .option img {
    width: 90px;
    gap: 10px;
  }
  .player img {
    width: 100px;
  }
  .AI img {
    width: 100px;
  }
  .option img:focus {
    width: 95px;
    box-shadow: 0 0 10px;
    border-radius: 15px;
  }
  .player {
    height: 30vh;
  }
  .AI {
    height: 30vh;
  }
  .box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
